<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1450&q=80);">
<h1>Lists</h1>
</div>
<div class="container d-flex">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" style="background-image: url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : "https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1450&q=80" %>)">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%=link_to "Go to list", list_path(list)%>
      </div>
    </div>
  <% end %>
</div>
<p>
<%= link_to "Create a list", new_list_path %>
</p>
