.banner {
  background-size: cover;
  background-position: center;
  padding: 15%;
  margin-bottom: 20px;
}
.banner h1 {
  text-align: center;
  font-weight: bold;
  margin: 0;
  color: cornsilk;
  font-size: 50px;
}
